services:
  app:
    # Our "Lab" container for JetPack 6.2.1
    # Ref: https://docs.nvidia.com/deeplearning/frameworks/install-pytorch-jetson-platform-release-notes/pytorch-jetson-rel.html
    # Ref2: https://docs.nvidia.com/deeplearning/frameworks/pytorch-release-notes/rel-25-04.html#rel-25-04
    build: .
    
    # This solves all file permission problems on mounted volumes.
    # Read the UID/GID variables from the .env file.
    user: "${UID}:${GID}"


    # Add user to the 'video' group to access /dev/video0
    group_add:
      - "${VIDEO_GID}"

    # --- NVIDIA Performance Fixes ---
    ipc: "host"
    ulimits:
      memlock: -1
      stack: 67108864
    # ----------------------------------


    # Mount our project folder into the container
    volumes:
      - ./:/app
      
    
    devices:
      - /dev/video0
      
    # This is the key: gives the container GPU access
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
              
    # Keep the container alive for us to exec into
    # We will 'docker compose run' for main tasks
    command: tail -f /dev/null